{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-3">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Forgot your password?</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}

                            <form method="post">
                                {{ form_start(requestForm) }}
                                <div class="mb-3">
                                    {{ form_row(requestForm.email) }}
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary ">Send password reset email</button>
                                </div>
                                {{ form_end(requestForm) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
